@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('../public/fonts/ComicNeue-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('../public/fonts/ComicNeue-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Comic Neue', sans-serif;
}

h1 {
  font-family: 'Comic Neue', sans-serif;
}